<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pms.dao.DashboardDao">
	<select id="noticeList" parameterType="int" resultType="notice">
		select * from notice where pid = #{pid}
	</select>
	<select id="issueList" parameterType="int" resultType="issuesdash">
		select iid, jname, ititle, iprogress, name, iuptdate
		from issues i, jobmember jm, jobplan jp,
			 (select * from member m, participants pp where m.mid = pp.mid) m
		where i.jmid = jm.jmid and jm.jid = jp.jid and jm.ppid = m.ppid and jp.pid = #{pid}
		order by iuptdate
	</select>
	<select id="issueTotCnt" parameterType="int" resultType="int">
		select count(*)
		from issues i, jobmember jm, jobplan jp,
			 (select * from member m, participants pp where m.mid = pp.mid) m
		where i.jmid = jm.jmid and jm.jid = jp.jid and jm.ppid = m.ppid and jp.pid = #{pid}
	</select>
	<select id="issueListPage" parameterType="issuessch" resultType="issuesdash">
		select * from (
		select iid, jname, ititle, iprogress, name, iuptdate, rownum cnt
		from issues i, jobmember jm, jobplan jp,
		(select * from member m, participants pp where m.mid = pp.mid) m
		where i.jmid = jm.jmid and jm.jid = jp.jid and jm.ppid = m.ppid and jp.pid = #{pid}
		order by iuptdate)
		where cnt between #{start} and #{end}

		select *
		from (
		select rownum cnt, level, b.*
		from board b
		WHERE 1=1
		<if test="subject!=null">
			AND subject LIKE '%'||#{subject}||'%'
		</if>
		<if test="writer!=null">
			AND writer LIKE '%'||#{writer}||'%'
		</if>
		start with refno = 0
		connect by prior no = refno
		order siblings by no desc  )
		where cnt between #{start} and #{end}
	</select>
</mapper>